*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --off-white: #F6F8FF;
    --white : #FEFEFE;
    --black-textcolor : #000;
    --heading--color : #4B6A9B;
    --text--color: #2B3442;
    --shadow-xl: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}
.dark-theme{
    --off-white:#141D2F;
    --white : #1E2A47;
    --black-textcolor : white;
    --heading--color : #F6F8FF;
    --text--color: white;
    --shadow-xl: 0px 16px 30px -10px rgba(70,88,109,0.15);
    
}

.wrapper{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: var(--off-white);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Center-container{
    width: 50%;
    margin: 0 auto;
}

.navbar{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-area{
    display: flex;
    justify-content:space-evenly;
    background: var(--white);
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
    box-shadow: var( --shadow-xl);
}

.container{
    background: var(--white);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: var( --shadow-xl);
    display: flex;
    flex-direction: column;
}

.top-container{
    display: flex;
    
}